#face{
	width: 25%;
	height: 25%;
}

body{
	background-image: url("../assets/downloadcopy.jpeg");
}

	h1{
		color: blue;
	}

	div.shape{
		background-color: green;
		width: 300px;
		height: 200px;

	}
